/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

header {
    color: white;
    padding: 7px 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Silkscreen';
}

main {
    background-color: #ffffff96;
    margin: 0 25px;
}


#regras {
    display: inline-block;
    margin: 8px 10px;
    font-family: 'Raleway', cursive;
    font-size: 10px;
    background-color: #ecedf438;
}

#regras h2 {
    margin: 5px 10px;
    font-family: 'Silkscreen';
    font-size: 20px;
    text-align: center;
}

#regras li {
    list-style: upper-roman;
    margin: 5px 0;
    font-size: 10px;
}

#regras ol {
    margin: 0 50px;
}

#menu {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

#menu .bot{
   display: inline-block;
   padding-left: 2px;
}

#menu .adicione{
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#menu .permitido{
    text-align: center;
    font-family: 'Raleway';
    font-size: 10px;
    color: rgb(0, 0, 0);
}

#menu label {
    display: block;
    font-size: 20px;
    margin: 1px;
}

#menu #nova-palavra {
    width: 280px;
    margin: 5px auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    border: none;
}

#menu #btn-adc-palavra {
    width: 50px;
    margin: auto;
    margin-top: 8px;
    padding: 10px 0;
    text-align: center;
    background-color: #12640c;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
}

#menu #btn-adc-palavra:hover {
    background-color: #12640c5f;
}

#jogo {
    text-align: center;
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
    margin: 20px 0 0 0;
}

.jogavel {
    display: inline-flex;
}

#jogo .btn {
    margin: 40px 0;
    padding: 8px 40px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 2px;
    background-color: #433fa6;
    color: white;
    cursor: pointer;
}

#jogo .btn:hover {
    background-color: #433fa637;
}

#tabuleiro-forca {
    text-align: center;
    margin: 30px 50px 0 0;
 }

#tabuleiro {
    border-radius: 5px;
}

.letras button {
    flex: auto;
    padding: 8px;
    width: 35px;
    border-width: thin;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #D9D9D9;
    cursor: pointer;
}

.letras button:active {
    transform: scale(1.2);
}

.letras-incorretas {
    display: inline-block;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #ff0000b0;
    margin: 20px;
}

#palavra-secreta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 50px 0;
}

.campo-letras {
    width: 30px;
    text-align: center;
    border-bottom: 3px solid;
    color: #252526;
    margin: 0 2px;
}

#msg {
    margin: 20px 2px;
    text-align: center;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

span {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #fefeff;
    color: #252526;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-align: center;

    
}

footer img{
    width: 25px;
    margin: 10px;

}

